
@import "bootstrap-4.1.0/scss/functions";
@import "bootstrap-4.1.0/scss/variables";
@import "bootstrap-4.1.0/scss/mixins";

%hoverfocus {
    background-color: #000055 !important;
    border-color: white !important;
}

body {
    
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000;
}


header{
    background-color: black;
    font-weight: bold;
    padding: 1vh;
}

header span{
    font-weight: bold;
    color: red; 
    border-radius: 0.3em;
    margin-right: 3vw;    
}

header a{
    font-weight: bold !important;
    margin-right: 1vw;
    
    &:hover, &:focus{
        @extend %hoverfocus;
    }
}


section {
    flex: 1;
    text-align: center;
    margin-bottom: 20vmin;
}

section .title {
    font-weight: bold;
    font-size: 10vmin;
}

section .subtitle {
    font-weight: bold;
    font-size: 4vmin;
}

footer{
    background-color: black;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    padding: 0.5rem;
    flex: 1;
  }

  footer span{
      color: white;
      font-size: 0.8rem;
  }

.container * {
    background-color: #000;
    color: white;
    font-weight: bold;
}

.form-encurtador{

    

    input[type="text"], input[type="date"], textarea, label{
        background-color: white;
        font-weight: bold;
        font-size: 5vmin;
        text-align: center;
    }

    label{
        background-color: black;
        margin-top: 5vmin;
    }

    textarea{
        text-align: left;
    }

    input[type='submit']{
        font-weight: bold;
        margin-top: 5vmin;
    }

    input[type='submit']:hover{
        @extend %hoverfocus;
        
    }

    input.col{
        height: 5vmin;
    }

}

.lista-urls{
    list-style: none;
    padding: 0;
    margin: 0;
    border: thin solid red ;
    margin-top: 5vmin;
    
    .url {
        border: thin solid white;         
        margin-top: 3vmin;
    }

    div{
        padding: 2vmin;
    }

    a{
        font-weight: bold;
    }
    
    a:last-child{
        margin-left: 1vmin;
    }

    a:hover{
        @extend %hoverfocus;
    }

    .alias{
        border: thin solid green;
        font-weight: bold;
        font-size: 4vmin;   
    }
}







