header a:hover, header a:focus, .form-encurtador input[type='submit']:hover, .lista-urls a:hover {
  background-color: #000055 !important;
  border-color: white !important; }

body {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000; }

header {
  background-color: black;
  font-weight: bold;
  padding: 1vh; }

header span {
  font-weight: bold;
  color: red;
  border-radius: 0.3em;
  margin-right: 3vw; }

header a {
  font-weight: bold !important;
  margin-right: 1vw; }

section {
  flex: 1;
  text-align: center;
  margin-bottom: 20vmin; }

section .title {
  font-weight: bold;
  font-size: 10vmin; }

section .subtitle {
  font-weight: bold;
  font-size: 4vmin; }

footer {
  background-color: black; }

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; }

.wrapper > * {
  padding: 0.5rem;
  flex: 1; }

footer span {
  color: white;
  font-size: 0.8rem; }

.container * {
  background-color: #000;
  color: white;
  font-weight: bold; }

.form-encurtador input[type="text"], .form-encurtador input[type="date"], .form-encurtador textarea, .form-encurtador label {
  background-color: white;
  font-weight: bold;
  font-size: 5vmin;
  text-align: center; }

.form-encurtador label {
  background-color: black;
  margin-top: 5vmin; }

.form-encurtador textarea {
  text-align: left; }

.form-encurtador input[type='submit'] {
  font-weight: bold;
  margin-top: 5vmin; }

.form-encurtador input.col {
  height: 5vmin; }

.lista-urls {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5vmin; }
  .lista-urls .url {
    border: thin solid white;
    margin-top: 3vmin;
    padding: 3vmin; }
  .lista-urls div {
    padding: 2vmin; }
  .lista-urls a {
    font-weight: bold; }
  .lista-urls a:last-child {
    margin-left: 1vmin; }
  .lista-urls .alias {
    font-weight: bold;
    font-size: 4vmin; }
